/* ------------------------------
 * Views folder access
 * ------------------------------
 * The htaccess restriction was removed
 * to enable the AngularJS files to use
 * the CodeIgniter views.
 */